# -------------------------
# VAGRANT
# -------------------------
.vagrant/

# -------------------------
# ANSIBLE
# -------------------------
*.retry

# -------------------------
# KUBERNETES
# -------------------------
kubeconfig
admin.conf

# -------------------------
# LOG FILES
# -------------------------
*.log

# -------------------------
# TEMP FILES
# -------------------------
tmp/
temp/

# -------------------------
# SSH KEYS
# -------------------------
*.pem
*.key
id_rsa
id_rsa.pub

# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# EDITOR FILES
# -------------------------
.vscode/
.idea/

# -------------------------
# PYTHON CACHE
# -------------------------
__pycache__/
*.pyc
